[mysqld]

#デフォルトの文字セット
character_set_server = utf8mb4 
#デフォルトの照合順序
collation_server = utf8mb4_ja_0900_as_cs
# スロークエリの出力設定
slow_query_log=ON
# スロークエリと判定する秒数
long_query_time=3

innodb_use_native_aio=0

[mysql]

#コマンドラインクライアントのデフォルトの文字セット
default-character-set = utf8mb4

[client]
#すべてのクライアントのデフォルトの文字セット
default-character-set = utf8mb4